{% extends "nuptiallog/template.html" %}
{% load static %}
{% block title %}Sign Up -- AntNupTracker{% endblock title%}
{% block toolbar %}{% endblock toolbar %}
{% block scripts %}
<script src="{% static 'rest_framework/js/jquery-3.4.1.min.js' %}"></script>
<script>
    function checkProfessionalFieldValue(){
        if ($(this).val() == "myrmecologist"){
            $('#institution').show();
        } else {
            $('#id_institution').val("");
            $('#institution').hide();
        }
    }


    $(document).ready(function() {
        $('#id_professional').change(checkProfessionalFieldValue);

        checkProfessionalFieldValue.call($('#id_professional').get(0))
    });
</script>
{% endblock scripts %}
{% block content %}
<h1>Create a AntNupTracker Account</h1>
<div id="formbody">
<form method="post">
    {% csrf_token %}
    {% for field in form %}

        <div id="{{ field.name }}">
            <b>{{ field.label_tag }}</b><br>
            {{ field }}
            {% if field.help_text %}
            <div class="helptext" style="margin-left:0.5%;"><i>{{field.help_text}}</i></div>
            {% endif %}
            {% for error in field.errors %}
                <p style="color:red"><b>{{ error }}</b></p>
                {% endfor %}
            <br><br>
        </div>
    {% endfor %}
    
        <div id="agree_field">
            <b>Terms and Conditions:</b><br>
            <input id="id_agree" type="checkbox" name="agree" required="" title="Terms and Conditions:">
            I have read and agree to the <a href="{% url 'terms' %}"><b>terms and conditions</b></a> of AntNupTracker.
        </div>

    <div id="buttondiv">
        <button type="submit">Create account</button>
    </div>
</form>
</div>
{% endblock content %}

{% block footer %}
<div class="footer">
    <div class="appdownload">
            <img id="appicon" src="{% static 'nuptiallog/images/appicon.png' %}" width="160">
    </div>
    Copyright Abouheif Lab, 2020
    <br>
    Developed by Benjamin Rudski
</div>
{% endblock footer %}