{% extends "nuptiallog/template.html" %}
{% load static %}
{% block title %}Sign Up -- AntNupTracker{% endblock %}
{% block toolbar %}{% endblock toolbar %}
{% block content %}
    <h1>Create a AntNupTracker Account</h1>
    <div class="textbody">
    <p>Dear {{ user.username }}, unfortunately we were unable to send you your confirmation email. Please email us at <a href="mailto: nuptialtracker@gmail.com">nuptialtracker@gmail.com</a> from <a href="mailto:{{user.email}}">{{ user.email }}</a> in order to confirm your new <b>AntNupTracker</b> account.</p>
    </div>
{% endblock content %}
{% block footer %}
<div class="footer">
    <div class="appdownload">
            <img id="appicon" src="{% static 'nuptiallog/images/appicon.png' %}" width="160">
    </div>
    Copyright Abouheif Lab, 2020
    <br>
    Developed by Benjamin Rudski
</div>
{% endblock footer %}