{% extends "nuptiallog/template.html" %}
{% load static %}
{% block title %} Reset Password -- AntNupTracker {% endblock %}
{% block toolbar %}{% endblock toolbar %}
{% block content %}
<h1>Reset AntNupTracker Account Password</h1>
<p>Forgot your password? Enter your email address and we'll send you a link to reset your password.</p>
<div id="formbody">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <b>{{ field.label_tag }}</b>
            {{ field }}

            {% if field.help_text %}
                <small style="display: none">{{field.help_text}}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color:red">{{ error }}</p>
                {% endfor %}
        <br><br>
        {% endfor %}

    <button type="submit">Reset Password</button>
</form>
</div>
{% endblock content %}
{% block footer %}
<div class="footer">
    <div class="appdownload">
            <img id="appicon" src="{% static 'nuptiallog/images/appicon.png' %}" width="160">
    </div>
    Copyright Abouheif Lab, 2020
    <br>
    Developed by Benjamin Rudski
</div>
{% endblock footer %}