{% autoescape on %}
Hello <span style="text-decoration-line: underline">{{ user }}</span>,<br>
Thanks for your interest in AntNupTracker. We have observed that you marked your account as "Professional Myrmecologist". However, you do not appear to have provided a recognised institution or affiliation ({{ institution }}). In addition, your email address does not appear to be an institutional address. Under our policies, you must provide this information so that we can validate that you are indeed a professional. Please contact us to correct your information. If we do not hear from you within 24 hours, your account will be demoted to "Citizen Scientist" until you contact us with institutional information.
<br>
<br>
The Abouheif Lab
<br>
<br>
<a href="{{ site }}">{{ site }}</a>
{% endautoescape %}