{% extends "nuptiallog/template.html" %}
{% load static %}
{% block title %}Scientific Advisory Board -- AntNupTracker{% endblock title %}
{% block content %}
    <h1>Scientific Advisory Board</h1>
    <div class="textbody">
        <h2>About the Board</h2>
        There is no level of expertise required to contribute to the public flight database. This Scientific Advisory Board exists
        to ensure that the data uploaded using our app is accurate. If you are a professional myrmecologist and are interested in becoming
        a member of the Board, please contact us at <a href="mailto:nuptialtracker@gmail.com">nuptialtracker@gmail.com</a>.

        <h2>Members of the Scientific Advisory Board</h2>
        {% for scientist in scientists %}
        <div class="scientificAdvisorMember">
            <img class="scientistImage" src="{{ scientist.image.url }}">
            <b>{{ scientist.name }}</b><br>
            <i>{{ scientist.position }}</i><br>
            <a href="{{ scientist.url }}">Visit Website</a><br>
        </div>
        {% endfor %}
    </div>
{% endblock content %}