{% extends "nuptiallog/template.html" %}
{% load static %}
{% block title %}Scientific Advisory Board -- AntNupTracker{% endblock title %}
{% block content %}
    <h1>Scientific Advisory Board</h1>
    <div class="textbody">
        <h2>About the Board</h2>
        Ants are grouped into species which are organised into genera. Seems pretty simple, no? Well, taxonomy is actually
        a complicated and ever-changing area. The Scientific Advisory Board exists to help us keep up with these changes in classification.
        Whenever a big change occurs, they will help us determine which flights must be corrected.

        <h2>Members of the Scientific Advisory Board</h2>
        <div class="scientistsContainer">
        {% for scientist in scientists %}
        <div class="scientificAdvisorMember">
            <img class="scientistImage" width="250px" src="{{ scientist.image.url }}"><br>
            <h2>{{ scientist.name }}</h2>
            <i>{{ scientist.position }}</i><br>
            {% if scientist.url %}
            <a href="{{ scientist.url }}">Visit Website</a><br>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}