AntlabGit.code-workspace
.env
.vscode
nuptialtracker/media/flight_pics/*
*.pyc
*.p8
.DS_STORE
nuptialtracker/static/nuptiallog/images/proprietary/*
nuptialtracker/static_raw/
*.sqlite3
nuptialtracker/static_files/nuptiallog
*.tok
TermsAndConditions.html
PrivacyPolicy.html
env/
nuptialtracker/media/scientist_pics/*
req.txt
nuptialtracker/private_keys/*
nuptialtracker/nuptiallog/0015_alter_flight_location.py
nuptialtracker/nuptiallog/0013_flightimage.py
nuptialtracker/nuptialtracker/workspace.code-workspace
requirements2.txt
