cachetools==4.1.0
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
cryptography==39.0.1
Django==3.2.19
django-extra-fields==2.0.5
django-filter==2.4.0
django-rest-knox==4.1.0
djangorestframework==3.12.4
drf-nested-routers==0.93.3
firebase-admin==5.0.2
httplib2==0.19.1
openpyxl==3.0.3
httpie==3.1.0
idna==2.9
numpy==1.22.0
pandas==1.0.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.4
PyJWT==2.4.0
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
requests==2.31.0
rest-pandas==1.1.0
rope==0.17.0
rsa==4.7.2
six==1.14.0
sqlparse==0.4.4
uritemplate==3.0.1
urllib3==1.26.5
Pillow==9.3.0